ENV=
TRACING=
TRACING_ADDR=

FRONTEND_URL=
UPLOADS_ADDR=

CORS_ALLOW_ORIGINS=
CORS_ALLOW_METHODS=
CORS_ALLOW_HEADERS=
CORS_ALLOW_CREDENTIALS=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_ACCOUNT_ID=

UPLOADS_NOTIFICATIONS_QUEUE_NAME=

DYNAMODB_USERS_TABLE_NAME=
DYNAMODB_FILEs_TABLE_NAME=
DYNAMODB_UPLOADS_TABLE_NAME=